{% extends 'index.html' %}


{% block icerik %}

<div class="container bg-secondary mt-3">
  <h2>AÇILAN DERSİ SİL</h2>
 <p>
            <strong>{{ open_course.course_id }}</strong> açılan dersi silmek istediğinizden emin misiniz?

            <form action="{% url 'acilanderssil' open_course.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Evet</button>
                <a href="{% url 'acilandersler' %}" class="btn btn-primary">Hayır</a>
            </form>
           </p>
</div>


{% endblock %}