{% extends "base.html" %}


{% load static %}

{% block css_files %}
        <link href="{% static '../static/css/giris.css' %}" rel="stylesheet">
        <link href="{% static '../static/css/creaive.css' %}" rel="stylesheet">
{% endblock %}


{% block title %} Şifre Değiştir {% endblock title%}

{% block content %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" >
        <img style="height: 40px" src="../../../static/img/DemokrasiLogo.png" alt="">
    </a>
       <a class="nav-link text-white " >İDÜ Ders Takip Sistemi</a>
  </div>
</nav>
    <br><br>
    <div class="content align-center" id="third"  style="background-image:url('../../../static/img/DemokrasiLogo.png');margin: 0;background-size:550px;background-repeat: space;background-position:center;background-attachment: fixed; ">
        <div class="login-box">
            {% if validlink %}
                <div class="card-header justify-content-center">
                    <h3 class="font-weight-light my-4 text-center text-white">Şifremi Değiştir</h3>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                                <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-10 offset-md-1">
                                <div class="form-group">
                                    <label class="small mb-1" for="id_new_password1">Yeni Şifre</label>
                                    <input type="password" name="new_password1" autocomplete="new-password"
                                           class="form-control" required id="id_new_password1"
                                           placeholder="Yeni Şifre"/>
                                    <span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-10 offset-md-1">
                                <div class="form-group">
                                    <label class="small mb-1" for="id_new_password2">Yeni Şifre Onay</label>
                                    <input type="password" name="new_password2" autocomplete="new-password"
                                           required id="id_new_password2" class="form-control"
                                           placeholder="Yeni Şifre Onay"/>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-row">
                            <div class="col-md-10 offset-md-1">
                                <div class="form-group mt-0 mb-1">
                                    <button type="submit" class="col-md-12 btn btn-warning" id="reset">Şifremi Değiştir</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            {% else %}
                <div class="alert alert-warning">
                    Parola sıfırlama bağlantısı, muhtemelen zaten kullanılmış olduğu için geçersizdi.
                    Lütfen yeni bir şifre sıfırlama talebinde bulunun.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}