{% extends "base.html" %}

{% load static %}

{% block css_files %}
        <link href="{% static '../static/css/giris.css' %}" rel="stylesheet">
{% endblock %}

{% block page_title %} Ana Sayfa {% endblock %}


{% block content %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <div class="container-fluid justify-content-center">
    <a class="navbar-brand" >
        <img style="height: 40px" src="../../../static/img/DemokrasiLogo.png" alt="">
    </a>
       <a class="nav-link text-white " >İDÜ Ders Takip Sistemi</a>
  </div>
</nav>


    <div class="content align-center" id="third"  style="background-image:url('../../../static/img/DemokrasiLogo.png');margin: 0;background-size:550px;background-repeat: space;background-position:center;background-attachment: fixed; ">
        <div class="login-box">
            <div class="card-header justify-content-center">
                 <div id="error_div"></div>
                 <h3 class="font-weight-light my-4 text-center">Şifremi Unuttum?</h3>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-10 offset-md-1">
                            <div class="form-group">
                                <label class="small mb-1" for="id_email">Email</label>
                                <input type="email" name="email"  class="form-control"
                                       autocomplete="email" maxlength="254" required id="id_email"
                                       placeholder="Email Giriniz">
                            </div>
                        </div>
                    </div>
                    <br>

                    <div class="form-row">
                        <div class="col-md-10 offset-md-1">
                            <div class="form-group mt-0 mb-1">
                                <button type="submit" class="col-md-12 btn btn-warning">Gönder
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="card-footer text-center ">
                <div class="medium btn btn-link text-white ">
                    <a href="{% url 'login' %}">Girişe Geri Dön</a><br>
                </div>
            </div>
        </div>
  </div>
{% endblock content %}